body{
  font-family: "Tilt Neon", sans-serif;
  margin: 0;
  padding: 0;
}

.App {
  max-width: 60%;
  min-height: 100vh;
  margin: auto;
  padding: 20px;
  text-align: center; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;


}

h3 {
  margin-bottom: 20px;
}

.input-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.input-container {
  width: 100%;
  max-width: 300px;
  margin: 0 10px;
  text-align: left;
}

input[type="text"] {
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
  font-size: 16px; 
  text-align: left; 
}

button {
  padding: 12px 24px; 
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px; 
}

button:hover {
  background-color: #45a049; 
}

.chat {
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 20px;
}
.chat-container{
  width:100%;
}

.chat-header {
  background-color: #4CAF50; 
  color: #fff;
  padding: 15px 0;
  width: 100%;

}

.chat-body {
  height: 300px;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 10px;
  width: 98%;

}

.chat-footer {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #f4f4f4;
  width: 98%;
  position: relative;

}

.chat-footer input[type="text"] {
  flex: 1;
  padding: 12px; 
  font-size: 16px; 
}

.chat-footer button {
  background-color: #4CAF50; 
  color: white;
  border: none;
  padding: 12px 24px; 
  margin-left: 10px;
  cursor: pointer;
  margin-top: -9px;
}

.chat-footer button:hover {
  background-color: #45a049;
}
.message {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  width: 80%;
  display: flex;
  flex-direction: column;

}
#you {
  background-color: #9cedaf; 
  color: #000;
  text-align: left;
  margin-left: auto; 
}

#other {
  background-color: #d6e9a9;
  color: #000;
  text-align: left; 
  margin-right: auto; 
}
.message-time{
   align-self: flex-end;
   font-size: 12px; 
   color: #888; 
   align-self: flex-end;
}
.message-sender{
   margin-bottom: 5px;
   font-size: 12px; 
   color: #888; 
   align-self: flex-start;

}
.message-content{
  padding-left: 10px;
     font-size: 16px; 

     
}
.message-content p{
  margin: 2px;
}

#emoji-btn{
  background-color: #fff;
  font-size: 20px;
}
            

.emoji-container{
  position: absolute;
    bottom: 100%; 
  right: 0;
  z-index: 999;
  overflow-x: hidden;
}

